<h1>Reservations for <%= @restaurant.name %></h1>

<% @reservations.each do |reservation| %>
  <p>
    Party Size: <%= reservation.party_size %><br/>
    Seating Time: <%= reservation.seating_time %><br/>
  </p>
<% end %>